body {
  display: block;
  text-align: center;
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1rem;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
figcaption {
  padding: 15px 0;
}

li {
  text-align: left;
  padding: 2% 0;
  line-height: 1.5;
}

section {
  padding: 2% 0;
}

section, blockquote {
  margin: 0 35%;
}
h3 {
  padding:2% 1%;
}
